@import "tailwindcss";



:root {
    --primary-color: #008080; 
    --hover-color: #00a7a7; 
}

.bg-primary {
    background-color: var(--primary-color); 
}

.text-primary {
    color: var(--primary-color); 
}

.hover\:text-primary:hover {
    color: var(--primary-color); 
}

.hover\:bg-primary:hover {
    background-color: var(--hover-color);
}

body {
    overflow-y: scroll;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
  }